<body class="d-flex flex-column min-vh-100">
  <main class="flex-grow-1">
     
  </main>

</div>

<footer class="bg-dark text-white text-center p-3 mt-auto">
  <div class="container">
    <p>&copy; 2023 Universidad EAN</p>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>